<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>is <%= place %> better than Dublin?</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Yes.</h1>
        <p>Our sources have confirmed that <%= place %> is better than Dublin.</p>
    </div>
    <footer class="footer">
        Please direct any questions, queries or concerns to
        <a href="mailto:complaints@ifuckedur.mom">this</a>
        email address.
    </footer>
</div>
</body>
</html>
